
div{
    width:80%;
    max-width: 1200px;
    min-height: 400px;
    border: 2px solid;
    margin: 0 auto;
}
div{
    padding: 20px; 
    margin: 20px 0;
}
.block2{
    img{
    width: 200px;
    height: 300px;}
    padding: 20px;
}
.block3{
    img{
        width: 30px;
        height: 40px;
    }
}