*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: League Spartan;
}
header{
    max-width: 1440px;
    height: 900px;
    color: #F8F8F8;  
    margin: 0 auto;
    margin-left: 135px;
    position: relative;
    display: grid;
}
header h2{
 background: #161515;
 font-family: League Spartan;
 font-size: 24px;
 font-weight: 300;
 line-height: 44.64px;
 text-align: left;
 position: absolute;
}
header h1{
 background: #272727;
 font-size: 250px;
 font-weight: 300;
 line-height: 230px;
 text-align: left;
}
.container{
font-size: 32px;
font-weight: 300;
line-height: 49.6px;
text-align: left;
border: 1px solid #161515;
}
.photo{
width: 408px;
height: 720px;
top: 4px;
left: 792px;
gap: 0px;
opacity: 0px;
}
.buy button{
    font-size: 32px;
    font-weight: 300;
    line-height: 29.44px;
    text-align: left;
    background: #161515;
}
.buy{
    margin-left: 135px;
    margin-bottom: 168px;
    margin-top: 650px;
}
.buy p{
    background: #F8F8F8;
    margin-left: 413px;
    margin-bottom: 168px;
    margin-top: 650px;
}
main{
    display: center;
}
footer{
    display: center;
}
.underline{
    width: 178.03px;
    height: 1px;
    background-color: #707070;
    margin-bottom: 58px;
}

